#about
{
    padding-block: 2rem;

    h2
    {
        font-size: 2rem;
        line-height: 1.2;
        margin-bottom: 1rem;

        span
        {
            font-size: inherit;
            color: $terciary-color;
        }
    }

    p
    {
        font-weight: 300;
        line-height: 145%;
    }

    p:not(:last-child)
    {
        margin-bottom: 1rem;
    }

    .about-wrapper
    {
        display: flex;
        align-items: flex-start;
        flex-wrap: wrap;
        gap: 2rem;
        width: min(90%, 1000px);
        margin: 0 auto;

        div
        {
            order: 1;
            flex: 1 0 350px;
        }

        figure
        {
            order: 2;
            flex: 1 0 350px;
            overflow: hidden;
            object-fit: cover;
            border-radius: 4px 30px 30px 30px;
        }

        @media (max-width: 768px)
        {
            div
            {
                order: 2;
                text-align: center;
            }

            figure
            {
                order: 1;
            }
        }
    }

    .about-cards {
        display: flex;
        width: min(90%, 1000px);
        margin: 2.5rem auto;

        .card
        {
            flex: 1 0 300px;
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
            padding-inline: 2rem;
            position: relative;
            color: $text-color;

            i
            {
                font-size: 2.5rem;
                color: $text-color;
            }

            h3
            {
                font-size: 1.25rem;
                text-transform: uppercase;
            }

            p
            {
                text-align: center;
            }
            
            &:not(:last-child)::after
            {
                content: "";
                width: 1px;
                height: 60%;
                background: $terciary-color;
                position: absolute;
                top: 50%;
                transform: translateY(-50%);
                right: 0;
            }

        }

        // .card:not(:last-child)
        // {
        //     border-right: 1px solid $secondary-color;
        // }
    }

    @media (max-width: 768px)
    {
        .about-cards
        {
            flex-direction: column;
            margin-bottom: 0;
            gap: 0;

            .card
            {
                padding: 1.5rem 0;
                flex: auto;
                position: relative;
            }

            .card:not(:last-child)::after
            {
                content: "";
                width: 50%;
                height: 1px;
                background: $terciary-color;
                position: absolute;
                top: unset;
                left: 50%;
                transform: translateX(-50%);
                bottom: 0;
            }
        }
    }
}