#contact
{
    // background: $primary-color;
    background: 
        linear-gradient(180deg, rgba(0, 32, 75, 0.6) 0%, rgb(0, 32, 75) 25%, #00204B 75%, rgba(0, 32, 75, 0.8)),
        url(../assets/pixels_grayscale.webp),
        rgb(0, 32, 75);
    background-blend-mode: normal, overlay, normal;
    background-size: cover;
    padding-block: 3rem 2rem;
    color: #fff;

    .contact-emblems
    {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-items: center;
        gap: 1.5rem;

        img
        {
            width: 125px;
        }
    }

    @media (max-width: 768px)
    {

        .column-1
        {
            order: 2;
            text-align: center;

            .contact-social
            {
                justify-content: center;
            }
        }
        .column-2
        {
            order: 1;
        }
        .contact-emblems
        {
            flex-direction: row;
            justify-content: space-between;
            gap: unset;

            img
            {
                width: 105px;
            }
        }
    }

    .contact-wrapper
    {
        display: flex;
        flex-wrap: wrap;
        width: min(90%, 1000px);
        flex-wrap: wrap;
        margin-inline: auto;
        gap: 2rem;

        div
        {
            flex: 1 0 350px;

            a:hover {
                color: $secondary-color;
                transition: all .3s;
            }

            .contact-items
            {
                font-weight: 200;
                margin-bottom: 2rem;

                li:not(:last-child)
                {
                    margin-bottom: .75rem;
                }
            }

            .contact-social
            {
                font-weight: 200;
                display: flex;
                align-items: center;
                gap: .75rem;
                position: relative;
                padding-top: 1.5rem;

                &::before
                {
                    content: '';
                    position: absolute;
                    width: 125px;
                    height: 5px;
                    background-color: $secondary-color;
                    top: 0;
                }

                i
                {
                    font-size: 2rem;
                }

            }
            
        }
    }
}