$primary-font: "Sora", sans-serif;
$secondary-font: "Barlow", sans-serif;

$primary-color: #00204B;
$secondary-color: #1E8BB0;
$terciary-color: #ED2021;
$text-color: #444;
$light-gray-color: #D9D9D9;
$background-color: #F3F3FF;

$whatsapp-color: #00A859;
